---
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Virtual Visit</title>
    
    <!-- Favicon -->
    <link rel="icon" href="/favicon.png" type="">
    <link rel="shortcut icon" href="/path-to-your-favicon/favicon.ico" type="image/x-icon">
</head>
<body>
  <Header/>
  <slot/>
  <Footer/>
</body>
</html>
